<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^index?$ index.php [L]
RewriteRule ^comic/([0-9a-zA-Z_-]*)$ comic.php/$1 [NC,L]
</IfModule>