.card-register {
    background-color: #FFF;
    max-width: none;
    margin-bottom: 0;
}

.section-image {
    background-image: url('../img/login-image.jpg');
    padding: 25px 0;
}

.section-dark {
    padding: 20px 0;
}

.title {
    margin: 0;
}

.no-link {
    cursor: default;
    pointer-events: none;
}

.pagination {
	justify-content: center;
	margin-top: 1rem;
}

.pagination li {
	padding: 0 20px;
}

.pagination > .page-item > .page-link, .pagination > .page-item > span, .pagination > .page-item:first-child > .page-link, .pagination > .page-item:first-child > span, .pagination > .page-item:last-child > .page-link, .pagination > .page-item:last-child > span {
	width: 100px;
}